header div {
  background-color: #cc0066;
}

li {
  list-style: none;
}

.wc-img {
  height:100px;
}

.navbar{
  display: block;
}

.top-container {
  margin-top: 50px;
}

.bottom {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 50px;
  background-image: linear-gradient(to bottom, white, #cc0066 90%);

}

.links {
  padding-top: 50px;
}



.media-tag {
  display: inline-block;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}



.fa-twitter {
  background: #55ACEE;
  color: white;
 }

.fa-instagram {
    background: #125688;
    color: white;}



li {
  list-style: none;
}

h4 {
  color: black;
}

li a:link ,
li a:visited {
  color: black;
}
