.main-story {
  background-image: url(images/trophy.jpeg);
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  }

.other-story {
  background-image: url(images/trophy.jpeg);
  height: 225px;
  background-size: 100%;
  background-repeat: no-repeat;
  }

.td {
  padding: 80px 0;
}

/* .panel-heading {
  background-color: #cc0066;
} */

.panel {
  align-self: center;
}

/* .panel-danger {
  background-color: #cc0066;
  color: white;
  border-color: #cc0066;
} */

h3 {
  padding:20px;
}
